.App {
  text-align: center;
  background-color:#98B66E;
  height:100vh;
}

.c1 {
  background-color: #FBE39D;
  color:black;
}
.c2 {
  background-color: #F9D876;
  color:black;
}
.c3 {
  background-color: #C5E5A5;
  color:black;
}
.c4 {
  background-color: #98B66E;
  color:black;
}

.b1 {
  margin-bottom:1%;
}

.navButton {
  border-radius: 10px;
  margin-left: 2%;
  margin-right: 2%;
}

.logoutButton {
  border-radius: 10px;
  margin-left: auto;
  margin-right: 1%;
}

Button {
  border: 1px solid #b9994e !important;
}

Button:hover {
  background-color: #F9D876 !important;
}

.parsnip {
  border-radius:100%;
}

.leaderboard {
  overflow: hidden;
  overflow-y: scroll;
  max-height:90vh;
}

.powerup {
  overflow:hidden;
  overflow-y:scroll;
  border-radius:20px;
  max-height:90vh;
}

.leaderboardParent {
  overflow:hidden;
  overflow-y:scroll;
  border-radius:30px;
  margin:2%;
  max-height:90vh;
}

.powerupElement {
  border-radius:30px;
  margin:2%;
}

img {
  user-select: none;
}

.boxing-cursor:hover {
  cursor: url("./assets/images/cursors/crowbar.png"), auto;
}

@keyframes blow-up-parsnip {
  0% { transform: scale(1); /*Initial scale 100%*/}
  50% { transform: scale(1.1);  /*Increased scale to 110%*/}
  100% { transform: scale(1); /*Back to scale 100%*/}
}

.parsnip-animation:active {
  animation: blow-up-parsnip 0.1s ease-in-out; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginParentDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.loginDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.loginInfoRow {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.dropdownFilter {
  margin-top: 1rem;
}