.App {
  text-align: center;
  background-color:darkolivegreen;
}

.bg-primary {
  background-color: darkgreen
}
.bg-secondary {
  background-color: lightgreen
}

.parsnip {
  border-radius:100%;
  background-color: lightgreen;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.leaderboard {
  overflow-y: scroll;
  max-height:90vh;
}

.box {
  padding:5pt;
  border-radius:25pt;
}

.user-stats {
  margin:5pt;

}

.user-data {
  margin:5pt
}

.powerup {
  background-color:aquamarine;
  overflow-y:scroll;
  max-height:90vh;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  user-select: none;
}

.boxing-cursor:hover {
  cursor: url("./assets/images/glove.png"), auto;
}

@keyframes blow-up-parsnip {
    0% { transform: scale(1); /*Initial scale 100%*/}
    50% { transform: scale(1.1);  /*Increased scale to 110%*/}
    100% { transform: scale(1); /*Back to scale 100%*/}
}

.parsnip-animation:active {
    animation: blow-up-parsnip 0.1s ease-in-out; 
}

body {
  background-color:darkolivegreen;
}